body {
    margin-left: 0px;
    background-color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
}
h1 {
    position: absolute;
    top: 1px;
    color: white;
    font-size: 6em;
    background-color: black;
    width: 100%;
}
#largeWinduPic{
    position: absolute;
    top: 140px;
    left: 10%;
    width: 75%;
   
}

table{
    position: absolute;
    top: 100px;
    width: 100%;
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    cursor: pointer;
    }

h2 {
    font-size: 2em;
}
#winduQuote{
  position: absolute;
  left: 10%;
  top: 150px;;
  width:43%;
  background-color: rgba(58, 5, 49, .5);
  z-index: 1;
  color: white;
}

div{
  position: absolute;
  margin-bottom: 5%;
  top: 100%;
  left: 35%;
  background-color:rgba(255, 255, 255, .5);
  width: 40%;
  font-size: 14px;
  border: #4d044d; 
  border-width: 5px;
  color: rgb(105, 34, 105);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 3;
  list-style: -o-linear-gradient();
}

th:hover{
    background-color: #4d044d
}
a{
    color: white;
}
html {
    width: 50%;
    transform: scale(2)
    transform-origin: 0 0;
}

