body {
    margin-left: 30px;
    background-color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
}
h1 {
    position: absolute;
    top: 1px;
    color: white;
    font-size: 6em;
    background-color: black;
    width: 100%;
}
#largeWinduPic{
    position: absolute;
    top: 250px;
    width: 100%;
}
table{
    position: absolute;
    top: 200px;
    width: 100%;
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    }

h2 {
    font-size: 2em;
}
#winduQuote{
  position: absolute;
  left: 40px;
  top: 250px;;
  width:43%;
  background-color: rgba(58, 5, 49, .5);
  z-index: 1;
  color: white;
}

div{
  position: relative;
  top: 900px;
  text-align: center;
  position: absolute;
  background-color:rgba(255, 255, 255, .5);
  width: 100%;
  font-size: 30px;
  color: white;
  background-color: black;
}

th:hover{
    background-color: #4d044d
}
a{
    color: white;
}

